# Python
__pycache__/
*.py[cod]

# Virtual Environment
backend/venv/

# Environment Variables
backend/.env
frontend/.env
frontend/.env.local

# Node / React
frontend/node_modules/
frontend/dist/

# VS Code
.vscode/

# Cache
.pytest_cache/
.pytest_cache

# OS
.DS_Store
Thumbs.db